<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Shopping List App</title>
    <link rel="stylesheet" href="main.css">

</head>

<body>
    <div id="app">
        <div class="header">
            <h1> {{ header.toLocaleUpperCase() }}</h1>
            <button v-if="state === 'default'" class="btn btn-primary" @click="changeState('edit')"> Save Item</button>
            <button v-else class="btn btn-cancel" @click="changeState('default')"> Cancel </button>
        </div>

        <div v-if="state === 'edit'" class="add-item-form">
            <input type="text" v-model="newItem" placeholdert="Add an Item" @keyup.enter="saveItem">
            <button class="btn btn-primary" v:bind:disabled="newItem.length === 0" @click="saveItem"> Save Item</button>

        </div>

        <!-- <a v-bind:href="newItem" target="_blank"> Dynamic Link</a> -->

        <ul>
            <li v-for="item in items" :class="{strikeout: item.purchased} " @click="togglePurchased(item)"> {{ item.label }}</li>
        </ul>
        <p v-if="items.length == 0 ">Nice Job! You have bought all the item. </p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                state: 'default',
                header: 'Shopping List App!',
                newItem: '',
                items: [{
                        label: '10 party hats',
                        purchased: false,
                    }, {
                        label: '2 board games',
                        purchased: true,
                    }, {
                        label: '20 cups',
                        purchased: false,
                    },

                ]
            },
            methods: {
                saveItem: function() {
                    this.items.push({
                        label: this.newItem,
                        purchased: false,
                    }, );
                    this.newItem = '';
                },
                changeState: function(newState) {
                    this.state = newState;
                    this.newItem = '';
                },
                togglePurchased: function(item) {
                    item.purchased = !item.purchased
                }
            }

        });
    </script>


</body>

</html>