<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Shopping List App</title>
    <link rel="stylesheet" href="main.css">

</head>

<body>
    <div id="app">
        <h1> {{ header.toLocaleUpperCase() }}</h1>
        <div class="add-item-form">
            <input type="text" v-model="newItem" placeholdert="Add an Item" @keyup.enter="saveItem">
            <button class="btn btn-primary" @click="saveItem"> Save Item</button>
        </div>
        <ul>
            <li v-for="item in items"> {{ item }}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                header: 'Shopping List App!',
                newItem: '',
                items: [
                    '10 party hats',
                    '2 board games',
                    '20 cups'
                ]
            },
            methods: {
                saveItem: function() {
                    this.items.push(this.newItem);
                    this.newItem = '';
                }
            }

        });
    </script>


</body>

</html>